* {
  margin: 0px;
  box-sizing: border-box;
}

.backgroundContainer {
  /* background-image: url(../assets/mainpage.jpg); */
  background-size: cover;
  background-position: center center;
  height: 80vh;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.navLinks ul {
  display: flex;
  width: 500px;
  /* background-color: aliceblue; */
  justify-content: space-around;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  font-size: 20px;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
