* {
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  color: white;
}

body {
  margin: 0;
  background-color: #636b74 !important;
}

.backgroundContainer {
  background-image: url(../assets/pexels-thiago-japyassu-1069798.jpg);
  background-size: cover;
  background-position: center center;
  height: 80vh;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.navLinks ul {
  display: flex;
  width: 500px;

  justify-content: space-around;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  font-size: 20px;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.navText {
  text-align: center;
  margin-top: 250px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.MuiTabs-indicator {
  display: none;
}

a.link {
  text-decoration: none;
}
