.container {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 600px;
  margin: auto;
  margin-top: 60px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button:nth-of-type(2) {
  padding-right: 60px;
}

img.img {
  width: 400px;
  height: 400px;
}
.imgPosition {
  display: flex;
  justify-content: center;
}
